<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthRec | System</title>

    <!-- css -->
    <link rel="stylesheet" href="/system-scss/system.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <div class="logo">
          <h1><span>Health</span>Rec</h1>
        </div>

        <div class="links">
          <div class="links__item links__item--overview">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 58.365 58.365"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M57.863 26.632L29.182 0 .502 26.632a1 1 0 0 0-.052 1.414 1 1 0 0 0 1.413.052l4.319-4.011v34.278h16v-18a7 7 0 1 1 14 0v18h16V24.087l4.319 4.011c.192.179.437.267.681.267.269 0 .536-.107.732-.319a1 1 0 0 0-.051-1.414z"
              />
            </svg>
            Overview
          </div>
          <div class="links__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 58.999 58.999"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M57.195 31.901c-.478-4.887-1.392-11.528-3.039-15.422A26.95 26.95 0 0 0 29.29 0c-3.587 0-7.085.701-10.396 2.083a33.62 33.62 0 0 0-2.761 1.301c-1.279.677-2.575 1.546-3.963 2.657C6.005 10.978 2.2 18.119 1.732 25.635c-.28 4.494.367 9.423 1.942 14.707.374 1.021 2.152 6.219 6.52 10.87-.013-6.379-.076-13.283-.374-15.318-.159-1.082-.455-2.169-.744-3.189-2.894-10.21 2.32-20.993 12.127-25.084a20.72 20.72 0 0 1 8.853-1.606c7.994.286 16.708 7.035 19.426 15.044 1.968 5.801 2.2 22.181 2.039 32.524.005-.006.011-.01.016-.016 7.033-7.815 5.716-21.111 5.658-21.666zM47.506 21.7C45.075 14.535 37.015 8.267 29.904 8.012c-2.753-.092-5.464.392-8.012 1.454-8.873 3.701-13.59 13.457-10.973 22.693.308 1.084.623 2.242.799 3.444.349 2.379.393 10.443.398 17.519a23.95 23.95 0 0 0 5 3.325l-.004-6.452c-.112-10.965-2.026-17.929-2.046-18-1.822-6.732.415-13.679 5.565-17.295a1 1 0 1 1 1.149 1.637c-4.463 3.134-6.387 9.213-4.786 15.127.083.294 2.008 7.304 2.118 18.534l.004 7.324c1.24.477 2.573.865 4 1.15-.018-11.806-.647-26.385-1.39-28.64-1.383-4.199.509-8.59 4.4-10.214A7.97 7.97 0 0 1 29.207 19c3.221 0 6.112 1.917 7.367 4.883 1.994 4.718 2.579 12.986 2.72 19.093a1 1 0 0 1-.977 1.023h-.023a1 1 0 0 1-1-.977c-.136-5.934-.69-13.934-2.558-18.353C33.791 22.438 31.622 21 29.207 21c-.796 0-1.573.156-2.312.464-2.917 1.217-4.323 4.546-3.27 7.743.914 2.78 1.483 18.882 1.49 29.591 1.042.125 2.132.193 3.269.201h1.879c.51-19.9-1.992-31.632-2.019-31.722a1 1 0 0 1 .683-1.239c.533-.15 1.086.152 1.239.683.11.382 2.616 12.109 2.099 32.278h4.951l-.055-7.971-.047-3.036a1 1 0 1 1 2 .014c-.005.737.02 1.814.046 2.977.033 1.438.069 5.744.055 7.971 1.425-.064 2.774-.251 4.043-.563.494-15.539.267-30.906-2.082-36.455C39.14 17.114 34.441 14 29.207 14c-.941 0-1.879.102-2.786.302-.547.112-1.073-.222-1.192-.761a1 1 0 0 1 .761-1.192c1.048-.232 2.13-.349 3.217-.349a14.97 14.97 0 0 1 13.813 9.155c2.472 5.84 2.747 20.736 2.259 36.615 1.509-.571 2.882-1.349 4.124-2.32.218-9.938.101-27.864-1.897-33.75z"
              />
            </svg>
            Doctors
          </div>
          <div class="links__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 58 58"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M0 28h28V0H0v28zm8-16h4V8a2 2 0 1 1 4 0v4h4a2 2 0 1 1 0 4h-4v4a2 2 0 1 1-4 0v-4H8a2 2 0 1 1 0-4zM30 0v28h28V0H30zm20 16H38a2 2 0 1 1 0-4h12a2 2 0 1 1 0 4zM30 58h28V30H30v28zm8-19h12a2 2 0 1 1 0 4H38a2 2 0 1 1 0-4zm0 6h12a2 2 0 1 1 0 4H38a2 2 0 1 1 0-4zM0 58h28V30H0v28zm7.586-17.586a2 2 0 0 1 2.828-2.828L14 41.172l3.586-3.586a2 2 0 0 1 2.828 2.828L16.828 44l3.586 3.586a2 2 0 0 1 0 2.828 1.99 1.99 0 0 1-2.828 0L14 46.828l-3.586 3.586a1.99 1.99 0 0 1-2.828 0 2 2 0 0 1 0-2.828L11.172 44l-3.586-3.586z"
              />
            </svg>
            Income
          </div>
          <div class="links__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 60 60"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M54 58h-3v-4h-5V43.778c0-2.7-1.342-5.208-3.589-6.706L31.803 30l10.608-7.072C44.658 21.43 46 18.922 46 16.222V6h5V2h3a1 1 0 1 0 0-2H6a1 1 0 1 0 0 2h3v4h5v10.222c0 2.7 1.342 5.208 3.589 6.706L28.197 30l-10.608 7.072C15.342 38.57 14 41.078 14 43.778V54H9v4H6a1 1 0 1 0 0 2h48a1 1 0 1 0 0-2zM18.698 21.264A6.05 6.05 0 0 1 16 16.222V6h28v10.222a6.05 6.05 0 0 1-2.698 5.042L30 28.798l-11.302-7.534zM16 43.778a6.05 6.05 0 0 1 2.698-5.042L30 31.202l11.302 7.534A6.05 6.05 0 0 1 44 43.778V54H16V43.778zm4.917-25.842c-.574-.383-.917-1.024-.917-1.714V14a1 1 0 1 0-2 0v2.222a4.05 4.05 0 0 0 1.808 3.378l4.638 3.092a1 1 0 1 0 1.11-1.664l-4.639-3.092zM40.192 41.26l-4.638-3.092a1 1 0 1 0-1.11 1.664l4.638 3.092c.575.383.918 1.023.918 1.714v2.222a1 1 0 1 0 2 0v-2.222a4.05 4.05 0 0 0-1.808-3.378z"
              />
            </svg>
            History
          </div>
          <div class="links__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 57 57"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M22.66 0H3.34C1.498 0 0 1.498 0 3.34v19.32C0 24.502 1.498 26 3.34 26h19.32c1.842 0 3.34-1.498 3.34-3.34V3.34C26 1.498 24.502 0 22.66 0zm10.68 26h19.32c1.842 0 3.34-1.498 3.34-3.34V3.34C56 1.498 54.502 0 52.66 0H33.34C31.498 0 30 1.498 30 3.34v19.32c0 1.842 1.498 3.34 3.34 3.34zm-10.68 4H3.34C1.498 30 0 31.498 0 33.34v19.32C0 54.502 1.498 56 3.34 56h19.32c1.842 0 3.34-1.498 3.34-3.34V33.34c0-1.842-1.498-3.34-3.34-3.34zM55 41H45V31a2 2 0 1 0-4 0v10H31a2 2 0 1 0 0 4h10v10a2 2 0 1 0 4 0V45h10a2 2 0 1 0 0-4z"
              />
            </svg>
            Statistics
          </div>
        </div>

        <div class="sign-out">
          <div class="sign-out__item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 54 54"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M27 18c-4.962 0-9 4.038-9 9s4.038 9 9 9 9-4.038 9-9-4.038-9-9-9zm24.22 3h-2.018a22.84 22.84 0 0 0-2.26-5.457l1.426-1.426c.525-.525.814-1.224.814-1.966s-.289-1.441-.814-1.967l-4.553-4.553c-1.05-1.049-2.881-1.051-3.933 0l-1.426 1.426C36.74 6.07 34.911 5.313 33 4.798V2.78C33 1.247 31.753 0 30.22 0h-6.44C22.247 0 21 1.247 21 2.78v2.018a22.84 22.84 0 0 0-5.457 2.26l-1.426-1.426c-1.051-1.052-2.883-1.05-3.933 0l-4.553 4.553c-.525.525-.814 1.224-.814 1.967s.289 1.44.814 1.966l1.426 1.426C6.07 17.26 5.312 19.089 4.798 21H2.78C1.247 21 0 22.247 0 23.78v6.438C0 31.752 1.247 33 2.78 33h2.018a22.84 22.84 0 0 0 2.26 5.457l-1.426 1.426c-.525.525-.814 1.224-.814 1.966s.289 1.441.814 1.967l4.553 4.553a2.85 2.85 0 0 0 3.933 0l1.426-1.426c1.717.987 3.546 1.745 5.457 2.26v2.017C21 52.752 22.247 54 23.78 54h6.439c1.533 0 2.78-1.248 2.78-2.781v-2.017a22.84 22.84 0 0 0 5.457-2.26l1.426 1.426c1.052 1.052 2.882 1.05 3.933 0l4.553-4.553c.525-.525.814-1.224.814-1.967s-.289-1.44-.814-1.966l-1.426-1.426c.987-1.717 1.745-3.546 2.26-5.457h2.018c1.533 0 2.78-1.248 2.78-2.781V23.78c0-1.533-1.247-2.78-2.78-2.78zM39 27c0 6.617-5.383 12-12 12s-12-5.383-12-12 5.383-12 12-12 12 5.383 12 12z"
              />
            </svg>
            Settings
          </div>
          <div
            class="sign-out__item sign-out__item--signout"
            onclick="transitionToPage('/index.html')"
          >
            <svg
              class="sign-out-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 56 56"
              xmlns:v="https://vecta.io/nano"
            >
              <path
                d="M54.424 28.382a1 1 0 0 0 0-.764 1.02 1.02 0 0 0-.217-.327L42.208 15.293a1 1 0 0 0-1.414 1.414L51.087 27H20.501a1 1 0 1 0 0 2h30.586L40.794 39.293a1 1 0 0 0 0 1.414c.195.195.451.293.707.293s.512-.098.707-.293l11.999-11.999c.092-.092.166-.203.217-.326zM16.501 28a4 4 0 0 1 4-4h17V1a1 1 0 0 0-1-1h-34a1 1 0 0 0-1 1v54a1 1 0 0 0 1 1h34a1 1 0 0 0 1-1V32h-17a4 4 0 0 1-4-4z"
              />
            </svg>
            Sign Out
          </div>
        </div>
      </div>
      <!-- nav end -->

      <div class="overview-body">
        <div class="component component--dashboard">
          <h2 class="component__label">Dashboard</h2>
          <div class="component__body"></div>
        </div>

        <div class="component component--patients-trend">
          <h2 class="component__label">Patients Trend</h2>
          <div class="component__body"></div>
        </div>

        <div class="component component--latest-patients">
          <h2 class="component__label">Latest Patients</h2>
          <div class="component__body"></div>
        </div>

        <div class="component component--reports">
          <h2 class="component__label">Reports</h2>
          <div class="component__body"></div>
        </div>

        <div class="component component--balance">
          <h2 class="component__label">Balance</h2>
          <div class="component__body"></div>
        </div>
      </div>
      <!-- overview end -->
    </div>

    <script src="/scripts/pageTransition.js"></script>
  </body>
</html>
