.sign-up {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: -5; // to 200
  transform: translate(-50%, 0%);
  width: 100%;

  padding: 48px 40px 36px 40px;

  text-align: center;
  border: 1px solid #dadce0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  opacity: 0; //for javascript
  transition: opacity 0.3s linear;

  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    top: 20%;
    max-width: 448px;
  }

  h3,
  p {
    margin-top: 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .account-type {
      display: flex;
      justify-content: space-between;

      button {
        width: 49%;
        background-color: $white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 13px 15px;
        font-family: inherit;
        margin-bottom: 24px;
      }
    }

    .full-name {
      display: flex;
      justify-content: space-between;

      input {
        width: 49%;
      }
    }

    .password {
      display: flex;
      justify-content: space-between;
      input {
        width: 49%;
      }
    }

    input:focus-visible {
      outline: none;
      border: 1px solid $violet;
    }

    label {
      text-align: left;
      margin-bottom: 10px;
    }

    input {
      padding: 13px 15px;
      border: 1px solid #dadce0;
      border-radius: 5px;
      font-family: inherit;
      margin-bottom: 24px;
    }

    .create-account {
      border-radius: 5px;
      border: 1px solid transparent;
      padding: 10px 0;
      font-family: inherit;
      background-color: $violet;
      color: $white;
      font-size: 16px;
      margin-bottom: 24px;
    }

    .create-account:hover {
      cursor: pointer;
      background-color: #1e1e94;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .create-account:active {
      background-color: #16166b;
    }

    a {
      text-decoration: none;
    }
  }
}
