.welcome-container {
  display: flex;
  justify-content: center;
  background-color: $gray;
  padding: 0px 20px;
  border-bottom-right-radius: 50px;

  @media (min-width: 820px) {
    padding: 0px 109px;
    min-height: 500px;
    margin-bottom: 50px;
  }
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: 820px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    gap: 50px;
  }
}

.illustration {
  width: 100%;
  height: 100%;
  min-width: 275px;
  max-width: 458px;
  background: url(./images/undraw_All_the_data_re_hh4w.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  margin: 0 auto;
}

.welcome__statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  position: relative;

  h2 {
    max-width: 260px;
  }

  p {
    margin-bottom: 50px;

    @media (min-width: 820px) {
      margin-bottom: 20px;
      line-height: 1.8125rem;
      font-size: 1.1146rem;
    }
  }

  @media (min-width: 820px) {
    max-width: 560px;
    h2,
    h3,
    p {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

// .login {
//   padding: 46px 30px;
//   background: $cyan;
//   border-radius: 5px;
//   border: 1px solid black;
//   margin-bottom: 20px; //temporary

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   max-width: 500px;

//   display: none;

//   @media (min-width: 820px) {
//     display: none;
//   }

//   h3 {
//     margin-top: 0;
//   }

//   div {
//     width: 100%;
//   }

//   label {
//     font-weight: 500;
//   }

//   input {
//     display: block;
//     width: 100%;
//     height: 52px;
//     padding: 0.5rem 0.625rem 0.5625rem;
//     margin-top: 20px;
//     margin-bottom: 28px;

//     border: 1px solid #a3bac6;
//     border-radius: 3px;

//     font-size: inherit;
//     font-family: inherit;
//   }

//   button {
//     width: 100%;
//     height: 60px;

//     color: white;
//     background-color: $violet;

//     border: 1px solid transparent;
//     border-radius: 30px;

//     font-family: inherit;
//     font-weight: bold;

//     font-size: 14px;
//   }
// }
